<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <% if resource.errors.any? %>
      <div class="bg-red-100 text-red-600 p-4 mb-4 rounded-md">
        <%= resource.errors.full_messages.join(", ") %> 
      </div>
    <% end %>
  </div>
<% end %>
