<style>

  h1 {
    font-size: 2rem;
    color: #f44336;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.125rem;
    color: #333;
   # background-color: #f8d7da;
   # margin-bottom: 20px;
    #padding: 15px;
    border-radius: 5px;

  }

  .inactive-box{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8d7da;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 2);
    text-align: center;
  }


 
</style>

<!-- Message container -->
<div class="mx-auto">
 
  <p>Your account is currently inactive. Please contact Admin or HR to reactivate your account ! <a href="mailto:admin@example.com" class="contact-button">Contact Admin</a></p>

  <!-- Optional button to contact admin -->
  
</div>
