<% if object && object.errors.any? %>
  <div data-controller="auto-dismiss" class="form-errors bg-red-100 text-red-700 p-4 rounded mb-4 transition-opacity duration-1000">
    <ul class="list-disc pl-5">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
