<div id="modal"
     data-controller="modal"
     data-action="click->modal#close"
     class="fixed inset-0 bg-black bg-opacity-50 z-50 hidden items-center justify-center">
  <div class="bg-white p-6 rounded-lg max-w-xl w-full relative" id="modal-content">
    <%= turbo_frame_tag "modal" %>
  </div>
</div>
