<p>Hi HR,</p>

<p>A ticket has been approved by the Team Lead:</p>

<p>
  <strong>Employee:</strong> <%= @ticket.user.full_name %><br>
  <strong>Title:</strong> <%= @ticket.title %><br>
  <strong>Description:</strong> <%= @ticket.description %>
</p>