<footer class="text-white mt-auto", style="background-color: black; color: white; position: fixed; bottom: 0; width: 100%;">
    <div class="px-2 py-3 bg-gray-100 dark:bg-gray-700 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">© 2025 <a href="https://www.techcronus.com/">Techcronus Business Solution Private Limited.</a>
        </span>
      </div>
    </div>
</footer>